/*Assets Color*/
.blue{
  color: #0a58ca;
}

.light-gray {
    color: #F8FAFD
}

.dark-gray{
    color: #A4A4A9;
}



body {
    display: flex;
}

nav {
    width: 5%;
    height: 100vh;
    background-color: #F8FAFD;
}

.nav-item .active{
    border-right: 3px solid #0a58ca;
    background-color: #FFFFFF;
}

.main-content{
    width: 65%;
    background-color: #FFFFFF;
}

video {
    height: 500px;
    width: 100%;
}



.sub-main-content{
    border: 1px solid blueviolet;
    width: 30%;
}